@import 'colors';
#About {
    overflow: hidden;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    p {
        padding-right: .25em;
        margin: 0;
    }
    @media(min-width: 300px) {
        width:300px;
    }
    #bio {
        padding: .5em;
        text-align: justify;
        line-height: 1.5;
    }
    .dark #resume {
        &:hover {
            color: $accent-dark;
            border-color: $text-dark;
        }
    }
    .dark #resume {
        &:hover {
            color: $accent;
            border-color: $text;
        }
    }
    #resume {
        padding: .1em .5em .35em .5em;
        &:hover {
            cursor: pointer;
        }
        #title {
            margin:0;
        }
    }
}
