.location-time {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    p {
        padding-right: .25em;
    }
    @media(min-width: 300px) {
        width:300px;
    }
}