@import 'colors';

@font-face {
    font-family: 'Muli';
    font-style: normal;
    src: local('Muli Regular'), url('../components/fonts/muli/Mulish-Regular.ttf');
}
@font-face {
    font-family: 'Muli-Bold';
    font-style: normal;
    src: local('Muli Bold'), url('../components/fonts/muli/Mulish-Bold.ttf');
}
:root {
    overflow: hidden;
    height: 100%;
}
.dark {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    ::selection {
        color: $background-dark;
        background: $accent-dark; /* WebKit/Blink Browsers */
      }
      ::-moz-selection {
        color: $background-dark;
        background: $accent-dark; /* Gecko Browsers */
      }
}
.light {
    ::selection {
        color: $background;
        background: $accent; /* WebKit/Blink Browsers */
      }
      ::-moz-selection {
        color: $background;
        background: $accent; /* Gecko Browsers */
      }
}

.light {
    body {
        background-color: $background;
    }
    .wrapper {
        color: $text;
    }
    a, a:visited {
        color: $text;
    }
    a:hover {
        color: $accent;
    }
}
.dark {
    body {
        background-color: $background-dark;
    }
    .wrapper {
        color: $text-dark;
    }
    a, a:visited {
        color: $text-dark;
    }
    a:hover {
        color: $accent-dark;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height:98vh;
    text-align: center;
    justify-content: center;

    a, a:visited {
        transition: color 0.25s ease-in;
        font-family: "Muli-Bold";
        text-decoration: none;
        font-weight: bold;
    }

    .content-container {
        margin: auto;
        font-family: 'Muli';
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 70%;
    }
    #About, #Projects, #Contact {
        animation: 2s ease-in-out 1 fade;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%, -50%);
        transform: translate(-50%, -50%);
        @media (max-height: 450px) {
            height: 80%;
        }
    }
}
body {
    margin: 0;
    //height: 100vh;
    overflow: hidden;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes slideDown { 
    0% { top: -10%;  } 
    100% { top: 10%; } 
}
@keyframes slideUp { 
    0% { bottom: -10%;  } 
    100% { bottom: 10%; } 
}
@keyframes fade { 
    0% { opacity: 0;  } 
    100% { opacity: 1; } 
}
@media (max-height: 750px) {
    @keyframes slideDown { 
        0% { top: -5%;  } 
        100% { top: 5%; } 
    }
    @keyframes slideUp { 
        0% { bottom: -5%;  } 
        100% { bottom: 5%; } 
    }
 }