@import 'colors';
.light #Contact {
    .form-control{
        color:  $text;
    }
    input.form-control{
        border-bottom-color: $text;
        border: 2px solid $text;
    }
    textarea.form-control{
        border: 2px solid $text;
    }
    button {
        color: $text;
        border: 2px solid $text;
        &:hover {
            color: $accent;
            border-color: $accent;
        }
    }
}
.dark #Contact {
    .form-control{
        color:  $text-dark;
    }
    input.form-control{
        border-bottom-color: $text-dark;
        border: 2px solid $text-dark;
    }
    textarea.form-control{
        border: 2px solid $text-dark;
    }
    button {
        color: $text-dark;
        border: 2px solid $text-dark;
        &:hover {
            color: $accent-dark;
            border-color: $accent-dark;
        }
    }
}
#Contact {
    @media (max-height: 400px) {
        height: 10% !important;
        .form-group {
            padding-bottom: 0;
        }
    }
    #message{
        
    }
    width:300px;
    @media(max-width:300px){
        width: 100%;
    }
    p, a {
        margin-bottom: .5em;
        margin-top: 0;
        text-decoration: none;
    }
    .form-group{
        padding-bottom: 1em;
    }
    #contact-form {
        @media (max-height: 400px) {
            display: none;
        }
    }
    input.form-control{
        width:95%;
        font-size: 1em;
        font-family:"Muli";
        border-bottom-width: 1px;
        background-color: transparent;
        border-radius: 5px;
        text-indent: .25em;
    }
    textarea.form-control{
        font-size: 1em;
        font-family:"Muli";
        width: 95%;
        background: transparent;
        resize: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-indent: .25em;
        @media (max-height: 750px) {
            height: 6em;
        }
    }
    button {
        font-family:"Muli";
        padding: .25em 2em;
        background-color: transparent;
        transition: color 0.25s ease-in, border-color 0.25s ease-in;
        color: $text;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            color: $accent;
            border-color: $accent;
        }
    }
}

