@import 'colors';

.light #Projects {
    border: 2px solid $text;
}
.dark #Projects {
    border: 2px solid $text-dark;
}
#project .project .project-image img,#bandviz_gif {
    margin: .5em;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.6);
}
#Projects {
    height: 70%;
    width:600px;
    overflow:scroll;
    overflow-x: hidden;
    border-radius: 5px;
    padding: .5em;
    img {
        cursor: -moz-zoom-in; 
        cursor: -webkit-zoom-in; 
        cursor: zoom-in;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Muli';
    }
    .project-link {
        font-size: 1.5em;
    }
    .link-icon {
        height: 1.1rem;
        width: auto;
    }
    .non-link-title {
        font-weight: bold;
        font-family: "Muli-Bold";
    }
    p {
        margin-top: 0;
    }
    .project {
        align-items: center;
        display: flex;
        @media(min-width: 800px){
            flex-direction: row;
        }
        @media(max-width: 600px){
            flex-direction: column;
        }
        .project-text {
            text-align: left;
        }
        .project-image {
            img {
                width: 300px;
                height: auto;
                &#bandviz_gif {
                    width: 284px;
                }
            }
    
        }
    }
    @media (min-width: 1000px) {
        width: 800px;
    }
    @media (max-width: 600px) {
        & {
            width:93vw;
        }
    }
    @media (max-width: 400px) {
        .non-link-title {
            font-size: 1.2rem;
        }
        .project-link {
            font-size: 1.2rem;
        }
    }
}