@import 'colors';
.light #Projects {
    border: 2px solid $text;
}
.dark #Projects {
    border: 2px solid $text-dark;
}
#Projects {
    height: 70%;
    width:600px;
    overflow:scroll;
    overflow-x: hidden;
    border-radius: 5px;
    @media (min-width: 1000px) {
        width: 800px;
    }
    @media (max-width: 600px) {
        & {
            width:98vw;
        }
    }
    p {
        margin: .25em;
    }

}
